body{
    font-family: cursive;
    padding: 20px;
}
textarea{
    width: 200px;
    height: 150px;
    background-color:rgb(223, 236, 236);
    border-radius:20px;
    text-align: center;
}
th , td {
    border: 1px solid black;
    background-color:rgb(223, 236, 236);
}
.container{
    display: flex;
    align-items: center;
    justify-content:center ;
}
#div1,#div2,#div3,#div4{
    width: 250px;
    height: 250px;
    border:1px solid black;
    background-color:rgb(223, 236, 236);
    border-radius: 50%;
    text-align: center;
    font-size: 22px;
    margin: 20px;
}
button{
    width: 100px;
    height: 50px;
    background-color: cadetblue;
    font-family: cursive;
    border-radius: 30px;
    border: 1px rgb(149, 149, 149) solid;
}
button:hover{
    background-color:rgb(51, 85, 86);
    color:white;
    cursor: pointer;
}
option , select{
    background-color:rgb(223, 236, 236);
    cursor: pointer;
}
.dark{
    background-color:black;
    color:white;
}
.light{
    background-color:white;
    color:black;
}